<html class="header-pc lang-ch"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true">
    <title>Ogilvy &amp; Mather Taiwan | 加入奧美</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="google" value="notranslate">
    <meta http-equiv="cleartype" content="on">
    <!-- Page info metas start-->
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="article:publisher" content="">
    <meta property="article:author" content="">
    <!-- Page info metas end-->

    <!-- Initial header classname -->
    <script>!!(window.innerWidth <= 960) && (document.documentElement.className = document.documentElement.className.replace('header-pc', 'header-mb'));</script>


    <link rel="shortcut icon" href="${ctxPath}/static/reception/img/logo.png"/>
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/main.css?v=2">
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/indexom.css?v=2">
</head>

<body ontouchstart="">

<div id="loader"><div class="spinner"></div></div>

<!--顶部导航开始-->
@include("/tssc/include/head.html"){}
<!--顶部导航结束-->


<main class="mastbody">
    <div class="mastbody-inner">

        <div class="effect-holder" data-effect="career"></div>

        <!--************************
                #/career-recruit
            ************************-->

        <div data-section="career-recruit" class="section">
            <section data-mainpage="list" class="mainpage">
                <div class="page-body career-recruit">
                    <div class="row-main">
                        <div class="header">
                            <h1 class="maintitle">現有職缺</h1>
                        </div>
                        <div class="content">
                            <div class="content-inner">
                                <div class="descr">
                                    <p>『人、知識、創造力』，是奧美的核心價值。我們渴求人才，所以正在尋找追求卓越的你；我們熱愛知識，所以打造各式訓練等你學習；我們充滿熱情，所以期待與你盡情揮灑創意。你，是我們正在尋找的稀有動物嗎？</p>
                                </div>
                                <ul class="companylist">
                                    <li><a data-ga-event="career-recruit-ad" target="_blank" href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=3c3a43253c5c3f6934583a1d1d1d1d5f2443a363189j99&amp;jobsource=checkc"><img class="companylogo" src="img/logo/ad-w.png">奧美廣告<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    <li><a data-ga-event="career-recruit-one" href="#/career-recruit/one"><img class="companylogo" src="img/logo/one-w.png">奧美互動行銷<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    <li><a data-ga-event="career-recruit-neo" href="#/career-recruit/neo"><img class="companylogo" src="img/logo/neo-w.png">奧美數位媒體行銷<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    <li><a data-ga-event="career-recruit-pr" target="_blank" href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=384a436b445c3e693c583a1d1d1d1d5f2443a363189j56&amp;jobsource=checkc"><img class="companylogo" src="img/logo/pr-w.png">奧美公共關係<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    <li><a data-ga-event="career-recruit-era" target="_blank" href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=504a4428386c3e6a30323c1d1d1d1d5f2443a363189j48&amp;jobsource=checkc"><img class="companylogo" src="img/logo/era-w.png">世紀奧美公關<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    <li><a data-ga-event="career-recruit-ho" target="_blank" href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=623a42265636402438583a1d1d1d1d5f2443a363189j50&amp;jobsource=checkc"><img class="companylogo" src="img/logo/ho-w.png">紅坊創意<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    <li><a data-ga-event="career-recruit-geometry" target="_blank" href="http://www.104.com.tw/jobbank/custjob/index.php?r=cust&amp;j=5a4a442948463f6a38583a1d1d1d1d5f2443a363189j97&amp;jobsource=checkc"><img class="companylogo" src="img/logo/geometry-w.png">經緯行動策略行銷<i class="icn icn-inline icn-angle-right"></i></a></li>
                                </ul>
                            </div><!--/.content-inner-->
                        </div><!--/.content-->
                    </div><!--/.row-main-->
                </div><!--/.page-body-->
            </section>
            <section data-mainpage="detail" class="mainpage">

                <!-- 奧美互動行銷 -->
                <section data-subpage="one" class="subpage">
                    <div class="page-body career-recruit-detail career-one">
                        <div class="row-main">
                            <div class="header">
                                <h2 class="maintitle companytitle clr-red"><img class="companylogo" src="img/logo/one.png">奧美互動行銷</h2>
                            </div>
                            <div class="content" data-scrollpane="" data-autosize="">
                                <div class="content-inner">
                                    <h3 class="jobtitle title-line">程式設計師</h3>
                                    <ul class="list-disc">
                                        <li>官方網站建置，上稿機制程式撰寫</li>
                                        <li>活動網站建置，活動機制(Facebook, Google, Mobile, Flash)串聯及研究開發</li>
                                        <li>電腦專長 網頁開發程式語言，資料庫</li>
                                        <li>懂 Java Script, HTML 等</li>
                                        <li>熱愛研究網路的新技術</li>
                                        <li>積極、願學習新技術</li>
                                    </ul>
                                    <h3 class="jobtitle title-line">資深程式設計師</h3>
                                    <ul class="list-disc">
                                        <li>官方網站建置，上稿機制程式撰寫</li>
                                        <li>活動網站建置，活動機制(Facebook, Google, Mobile, Flash)串聯及研究開發</li>
                                        <li>網站內容及訪客資料庫建置、資料分析及產生報表</li>
                                        <li>電腦專長 ASP. NET, C#, SQL Server 等</li>
                                        <li>熟 Java Script, HTML,XML等</li>
                                        <li>熱愛研究網路及手機應用的新技術</li>
                                        <li>積極、可獨立作業</li>
                                    </ul>
                                    <h3 class="jobtitle title-line">數位行銷專案經理</h3>
                                    <ul class="list-disc">
                                        <li>三年以上數位行銷企劃經驗</li>
                                        <li>熟悉數位環境及網路行為且對數位行銷具熱忱及興趣</li>
                                        <li>具廣告行銷之策略思考能力</li>
                                        <li>英文聽說讀寫能力佳, 可用流利英文與客戶溝通</li>
                                        <li>卓越的溝通協調能力</li>
                                        <li>充滿學習熱情 , 有耐心且細心</li>
                                        <li>有自信做下屬的好榜樣</li>
                                        <li>有能力做上司的好幫手</li>
                                    </ul>
                                    <h3 class="jobtitle title-line">資深網頁設計師</h3>
                                    <ul class="list-disc">
                                        <li>網站設計、使用者介面設計。</li>
                                        <li>與企劃、程式設計等相關人員配合，協同執行專案。&nbsp;與創意夥伴一起成功的詮釋並執行客戶的簡報(brief)，包括最初簡報，提案到執行完畢。</li>
                                        <li>.跟其他部門的同仁合作，清楚的理解專案工作的概念核心。</li>
                                        <li>有耐性，有熱情。</li>
                                        <li>需要和團隊工作的能力 。</li>
                                        <li>具有良好的溝通能力，並可以在壓力下工作。</li>
                                        <li>有企圖追求自己一定的完美。</li>
                                        <li>願意培養顛覆傳統，有創意的及革新的工作氣氛。</li>
                                        <li>喜歡網路，邏輯清晰。</li>
                                    </ul>
                                    <h3 class="jobtitle title-line">數位行銷企劃人員</h3>
                                    <ul class="list-disc">
                                        <li>品牌網路策略思考 I&nbsp;品牌網路策略思考 I&nbsp;大型網路活動規劃、提案、執行與專案管理。</li>
                                        <li>對網路行銷工作充滿熱血。</li>
                                        <li>邏輯清楚、創意無窮，企劃能力佳。</li>
                                        <li>辯才無礙，擁有優異的提案簡報能力。</li>
                                        <li>溝通協調能力強，能和客戶建立良好關係。</li>
                                        <li>積極主動，善於跨部門溝通協調。</li>
                                        <li>英文聽說讀寫能力佳, 可用流利英文與客戶溝通。</li>
                                    </ul>
                                    <h3 class="jobtitle title-line">數位媒體企劃</h3>
                                    <ul class="list-disc">
                                        <li>數位趨勢觀察、蒐集及分析</li>
                                        <li>數位媒體企劃案撰寫及提案</li>
                                        <li>數位媒體合作洽談</li>
                                        <li>客戶端提案</li>
                                        <li>媒體採買及成效監控</li>
                                        <li>搜尋行銷策略提案及執行</li>
                                    </ul>
                                    <h3 class="jobtitle title-line">社群行銷企劃</h3>
                                    <ul class="list-disc">
                                        <li>口碑行銷提案撰寫,建議,規劃,執行</li>
                                        <li>監看客戶的媒體報導與社群議題</li>
                                        <li>觀察各大社群，數據分析與整理</li>
                                        <li>創造網路議題，引導參與人員發表意見或心得</li>
                                        <li>透過網路與消費者溝通客戶產品特色與訊息</li>
                                    </ul>
                                    <h3 class="title-line clr-red">應徵方式</h3>
                                    <p>履歷作品寄送E-mail： <a class="link-red" href="mailto:jennycc.chengogilvy.com">jennycc.chengogilvy.com</a><br>
                                        若無相關工作經驗者，會直接將履歷表存檔至資料庫中，恕不回函。</p>
                                </div>
                            </div>
                            <a class="btn-close back" href="#/career-recruit" title="回前頁"><i class="icn icn-close"></i></a>
                        </div>
                        <div class="row-side">
                            <div class="content" data-autosize="">
                                <div class="content-mask">
                                    <div class="content-outer">
                                        <div class="content-inner">
                                            <img class="effect" data-centered="" src="img/effect/career-static.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- 奧美數位媒體行銷 -->
                <section data-subpage="neo" class="subpage">
                    <div class="page-body career-recruit-detail career-neo">
                        <div class="row-main">
                            <div class="header">
                                <h2 class="maintitle companytitle clr-red"><img class="companylogo" src="img/logo/neo.png">奧美數位媒體行銷</h2>
                            </div>
                            <div class="content" data-scrollpane="" data-autosize="">
                                <div class="content-inner">
                                    <h3 class="jobtitle title-line">數位媒體企劃</h3>
                                    <ul class="list-disc">
                                        <li>數位趨勢觀察、蒐集及分析</li>
                                        <li>數位媒體企劃案撰寫及提案</li>
                                        <li>數位媒體合作洽談</li>
                                        <li>客戶端提案</li>
                                        <li>媒體採買及成效監控</li>
                                        <li>搜尋行銷策略提案及執行</li>
                                    </ul>

                                    <h3 class="title-line clr-red">應徵方式</h3>
                                    <p>履歷作品寄送E-mail： <a class="link-red" href="mailto:jennycc.chengogilvy.com">jennycc.chengogilvy.com</a><br>
                                        若無相關工作經驗者，會直接將履歷表存檔至資料庫中，恕不回函。</p>
                                </div>
                            </div>
                            <a class="btn-close back" href="#/career-recruit" title="回前頁"><i class="icn icn-close"></i></a>
                        </div>
                        <div class="row-side">
                            <div class="content" data-autosize="">
                                <div class="content-mask">
                                    <div class="content-outer">
                                        <div class="content-inner">
                                            <img class="effect" data-centered="" src="img/effect/career-static.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="redstripe"></div>
            </section>
        </div><!--/[data-section]-->


        <!--************************
                #/career-internship
            ************************-->

        <div data-section="career-internship" class="section">
            <section data-mainpage="list" class="mainpage">
                <div class="page-body career-internship">
                    <div class="row-main">
                        <div class="header">
                            <h1 class="maintitle">實習機會</h1>
                        </div>
                        <div class="content" data-scrollpane="" data-autosize="">
                            <div class="content-inner">
                                <div class="descr">
                                    <p>什麼是公關？什麼是GA？啊？ 不懂! 不懂沒關係！你熱愛傳播嗎？你喜歡行銷嗎？你不碰手機就會覺得渾身不對勁嗎？只要你對傳播充滿熱情，只要你還是大學在學學生，歡迎你和我們一起一探整合行銷傳播的魅力。</p>
                                </div>
                                <div class="footer">
                                    <!--<a data-ga-event="career-internship-group" class="link-white ff-loud" target="_blank" href="http://www.ogilvy.com.tw/recruitment/">奧美集團<i class="icn icn-inline icn-angle-right"></i></a>-->
                                    <a data-ga-event="career-internship-ad" class="link-white ff-loud" target="_blank" href="http://www.ogilvy.com.tw/terence/">奧美廣告<i class="icn icn-inline icn-angle-right"></i></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div><!--/[data-section]-->


        <!--************************
                #/career-training
            ************************-->

        <div data-section="career-training" class="section">
            <section data-mainpage="list" class="mainpage">
                <div class="page-body career-training">
                    <div class="row-main">
                        <div class="header">
                            <h1 class="maintitle">訓練成長</h1>
                        </div>
                        <div class="content" data-scrollpane="" data-autosize="">
                            <div class="content-inner">
                                <p>我們相信，訓練是奧美人持續不斷成長的過程。</p>
                                <p>訓練計劃讓我們幫助奧美人在公司建立起長期而成果豐碩的事業生涯。這項公司承諾的業務，是為了幫助忠誠度高、且具有發展潛力的人才繼續成長。奉派接受訓練課程，不僅是工作努力的回報，也是幫助職涯發展的良機。</p>
                                <p>用來挑選合適的訓練人才的基本標準，即是個人工作表現以及未來的潛力。過去的績效評估和發展計劃都是參考依據。</p>

                                <h3 class="title-line">集團訓練</h3>
                                <p>包括新人訓練、基本作業技能、各項整合行銷傳播工具、奧美文化價值觀、集團資源運用等，分別邀請高階主管、奧美亞太區資深主管或外部講師為夥伴們講授相關課程。</p>

                                <h3 class="title-line">專業密集訓練</h3>
                                <p>每年不定期的out-of-office training，依職位及職務不同分梯次舉辦。由各公司主管擔任講師或聘請奧美亞太區資深主管講授專業課程。</p>

                                <h3 class="title-line">專業日常訓練</h3>
                                <p>除了out-of-office training之外，各公司或部門會依各職務所需，安排日常工作技能訓練，由資深人員或聘請相關專業人員講授。</p>

                                <h3 class="title-line">亞太區域訓練</h3>
                                <p>奧美亞太區訓練發展總監，以全職時間在各個國家市場及個別的專業單位舉辦講習。課程包括演講、個案研討、難題解決、角色扮演、小組任務分派、創意的產生，以及許多「學員參與」的機會。</p>
                                <p>課程主題包括管理、建立有建設性的客戶關係、平面與電視廣告、在廣播媒體上建立形象、媒體規劃、新媒體發展、直效行銷的秘訣、公關的多面角色、製作精彩的促銷活動、將不同部門整合於單一傳播計畫、提案說明技巧、財務管理、培養管理能力，以及互動式創新。</p>
                                <p>同時也有各式線上直播的發展課程, 無論是基礎的或進階的專業知識與觀點, 將隨時加入新的主題，同步學習, 以能在變化萬端的行銷環境中保持領先，同時也確保我們有所準備，可以有效處理客戶在未來面臨到的難題。</p>
                                <p>針對具有發展潛力的績優員工，亦有機會公費參與海外訓練，與奧美全球及亞太區的優秀人才一同學習。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div><!--/[data-section]-->


        <!--************************
                #/career-benefits
            ************************-->

        <div data-section="career-benefits" class="section">
            <section data-mainpage="list" class="mainpage">
                <div class="page-body career-benefits">
                    <div class="row-main">
                        <div class="header">
                            <h1 class="maintitle">員工福利</h1>
                        </div>
                        <div class="content" data-scrollpane="" data-autosize="">
                            <div class="content-inner">
                                <p>為提升員工生活品質，並增進同仁的情誼以及團隊的效能，增加跨公司及部門的溝通機會，奧美特設立了員工福利委員會，負責自主創造規劃及辦理員工相關福利，且代表員工參與公司制訂之員工相關福利的議案決策。福利委員會由奧美全體員工推選的委員組成，以保障和推進全體員工的福利為目的。</p>

                                <h3 class="title-line">我們重視您的健康，所以我們有完善的健康保障：</h3>
                                <p>健康檢查、勞保、健保、員工團體保險及眷屬醫療險</p>

                                <h3 class="title-line">我們重視休閒生活，所以我們優於法令的休閒假期：</h3>
                                <p>年休假、特別假、男性陪產假、重大節慶禮物、年資紀念金幣</p>

                                <h3 class="title-line">Work Hard更要Play Hard，所以我們有各項休閒娛樂活動：</h3>
                                <p>公司旅遊、團康活動、社團活動、部門聚餐、大型晚會、各大飯店訂房優惠折扣、特約商店折扣、電影票折扣</p>

                                <h3 class="title-line">集團運動會：</h3>
                                <p>『奧運會』是奧美人期待的活動之一，運動會上，員工們盡情享受各種有趣的比賽項目，如接力賽、啦啦隊表演等，正應了這句話“努力工作，盡情娛樂”。</p>

                                <h3 class="title-line">公司旅遊：</h3>
                                <p>每年8、9月份奧美福委會都會安排公司旅遊，為大家提供各有風情的旅遊路線，希望大家盡情享受生活。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div><!--/[data-section]-->


    </div><!--/.mastbody-inner-->
</main><!--/.mastbody-->



<!--顶部导航开始-->
@include("/tssc/include/foot.html"){}
<!--顶部导航结束-->


<div id="navDots" class="navdots">
    <div class="outer">
        <div class="inner">
            <a class="dot" href="career.html#/career-training"><b></b></a>
            <a class="dot" href="career.html#/career-benefits"><b></b></a>
        </div>
    </div>
</div><!--/.navdots-->


<script src="${ctxPath}/static/reception/js/libs/jquery.js"></script>
<script src="${ctxPath}/static/reception/js/libs/plugins.js"></script>
<script src="${ctxPath}/static/reception/js/main.js?v=2"></script></body></html>
