<html class="header-pc lang-ch"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true">
    <title>服务预约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="google" value="notranslate">
    <meta http-equiv="cleartype" content="on">

    <!-- Page info metas start-->
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="article:publisher" content="">
    <meta property="article:author" content="">
    <!-- Page info metas end-->

    <!-- Initial header classname -->
    <script>!!(window.innerWidth <= 960) && (document.documentElement.className = document.documentElement.className.replace('header-pc', 'header-mb'));</script>


    <link rel="shortcut icon" href="${ctxPath}/static/reception/img/logo.png"/>
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/main.css?v=1">
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/indexom.css">
    <style>
        ::-webkit-input-placeholder { color: #222; opacity: 0.54; }
    </style>
</head>

<body ontouchstart="">

<div id="loader"><div class="spinner"></div></div>

<!--顶部导航开始-->
@include("/tssc/include/head.html"){}
<!--顶部导航结束-->

<main class="mastbody">
    <div class="mastbody-inner">

        <!--************************
                #/inquiry
            ************************-->


        <div data-section="inquiry" class="section">
            <section data-mainpage="detail" class="mainpage">

                <!-- 服務洽詢 -->
                <section data-subpage="form" class="subpage">
                    <div class="page-body inquiry-form">

                        <div class="row-main">
                            <div class="header">
                                <h2 class="maintitle clr-red">服务洽谈</h2>
                            </div>
                            <div class="content">
                                <div class="content-inner">
                                    如果您在寻求腾盛时创的相关业务服务，<br>
                                    请填写下方的表格，我们会尽快回复给您。<br>
                                    或可拨打 <span class="clr-red fs-lg-4 ff-loud">0354-3088222</span>
                                </div>
                            </div>
                        </div><!--/.row-main-->

                        <div class="row-side">
                            <div class="content" data-scrollpane="" data-autosize="">
                                <div class="content-mask">
                                    <div class="content-outer">
                                        <div class="content-inner">

                                            <!-- 表單 -->
                                            <form id="form1" action="${ctxPath}/tssc/contact/submit" type="post">
                                                <div class="row-form">
                                                    <div class="form-header">
                                                        <p class="notes fs-sm-2 clr-grey">标<i class="rq">*</i>项为必填</p>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label"><i class="rq">*</i>姓名</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="name" id="name" type="text" maxlength="32" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label"><i class="rq">*</i>职称</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="title" id="title" type="text" maxlength="32" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label"><i class="rq">*</i>电子邮箱</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="email" id="email" type="text" maxlength="100" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label"><i class="rq">*</i>联系电话</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="tel" id="tel" type="text" maxlength="20" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label"><i class="rq">*</i>公司名称</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="companyName" id="companyName" type="text" maxlength="64" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label"><i class="rq">*</i>公司网址</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="companyWeb" id="companyWeb" type="text" maxlength="128" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label">预算</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="budget" id="budget" type="text" maxlength="64" required="required">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-label">服务品牌</div>
                                                        <div class="col-value">
                                                            <input class="x-input" name="brand" id="brand" type="text" maxlength="128" required="required">
                                                        </div>
                                                    </div>

                                                    <div class="form-row vert">
                                                        <div class="col-label"><i class="rq">*</i><span class="clr-red">需要提供的服务 (可复选，点击服务项目可参考服务说明)</span></div>
                                                        <div class="col-value">
                                                            <ul class="selectcompany">
                                                                @for(genre in genres){
                                                                <li>
                                                                    <span class="x-check">
                                                                        <input name="service" value="${genre.id}" type="checkbox">
                                                                        <label>
                                                                            <a class="link-black link-hoverline" href="${ctxPath}/tssc/about#/about-service" target="_blank">${genre.name}</a>
                                                                        </label>
                                                                    </span>
                                                                </li>
                                                                @}
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="form-row vert">
                                                        <div class="col-label"><i class="rq">*</i>请简述想要您的需要服务内容、预期完成时间…等 (字数上限：2,000字)</div>
                                                        <div class="col-value">
                                                            <textarea class="x-input" name="remark" id="remark" maxlength="2000"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-footer">
                                                        <!--<input type="submit" id="inquiryBtnSubmit" class="btn-prime btn-prime-grey icn icn-inline icn-angle-right" value="确认送出">-->
                                                        <button id="inquiryBtnSubmit" class="btn-prime btn-prime-grey" type="submit"><b>确认送出<i class="icn icn-inline icn-angle-right"></i></b></button>
                                                    </div>
                                                </div>
                                            </form><!--/.form-->

                                            <!-- 送出結果頁 -->
                                            <div class="row-result">
                                                <div class="message">
                                                    <p>
                                                        <span class="clr-red fs-lg-5">资料已送出成功！</span><br>
                                                        我们会尽快回复给您。
                                                    </p>
                                                </div>
                                            </div><!--/.result-->



                                        </div><!--/.content-inner-->
                                    </div><!--/.content-outer-->
                                </div><!--/.content-mask-->
                            </div><!--/.content-->
                        </div><!--/.row-side-->
                    </div><!--/.inquiry-form-->
                </section><!--/[data-subpage]-->

                <div class="redstripe"></div>
            </section><!--/[data-mainpage]-->
        </div><!--/[data-section]-->



    </div><!--/.mastbody-inner-->
</main><!--/.mastbody-->



<!--顶部导航开始-->
@include("/tssc/include/foot.html"){}
<!--顶部导航结束-->


<script src="${ctxPath}/static/reception/js/libs/jquery.js"></script>
<script src="${ctxPath}/static/reception/js/libs/plugins.js"></script>
<script src="${ctxPath}/static/reception/js/main.js?v=1"></script>
</body>
</html>
