<html class="header-pc lang-ch"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true">
    <title>Ogilvy &amp; Mather Taiwan | 隱私聲明</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="google" value="notranslate">
    <meta http-equiv="cleartype" content="on">

    <!-- Page info metas start-->
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="article:publisher" content="">
    <meta property="article:author" content="">
    <!-- Page info metas end-->

    <!-- Initial header classname -->
    <script>!!(window.innerWidth <= 960) && (document.documentElement.className = document.documentElement.className.replace('header-pc', 'header-mb'));</script>


    <link rel="shortcut icon" href="${ctxPath}/static/reception/img/logo.png"/>
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/main.css">
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/indexom.css">
</head>

<body ontouchstart="">

<div id="loader"><div class="spinner"></div></div>

<!--顶部导航开始-->
@include("/tssc/include/head.html"){}
<!--顶部导航结束-->

<main class="mastbody">
    <div class="mastbody-inner">

        <div class="effect-holder" data-effect="about"><img class="static" src="${ctxPath}/static/reception/img/effect/about-static-red.png"></div>

        <!--************************
                #/privacy
            ************************-->

        <div data-section="privacy" class="section">
            <section data-mainpage="list" class="mainpage">
                <div class="page-body privacy">
                    <div class="row-main">
                        <div class="header">
                            <h1 class="maintitle">隱私聲明</h1>
                        </div>
                        <div class="content" data-scrollpane="" data-autosize="">
                            <div class="content-inner">
                                <h3>1、版權歸屬</h3>
                                <p>台灣奧美獨立擁有台灣奧美網站相關網頁內所有資料的版權，或與台灣奧美網站相關網頁內的資料提供者共同擁有該網頁內資料的版權。未經台灣奧美的明確書面許可，對於台灣奧美網站上的任何內容，任何人不得對其進行複製或在非台灣奧美所屬的伺服器上做鏡像。</p>
                                <h3>2、免責聲明</h3>
                                <p>（1）本網站所發佈的資訊中可能沒有包含與台灣奧美及其業務有關的最新資訊，對於本網站所發佈的資訊，台灣奧美不聲明或保證其內容之正確性或完整性；對於使用者通過本網站有關服務之廣告、資訊或要約而購買或取得之任何資訊或服務，亦不承擔品質保證之責任。</p>
                                <p>（2）台灣奧美對本網站提供的服務不提供任何明示或默示的擔保或保證，包含但不限於特定目的之適用性及未侵害他人權利等擔保或保證。</p>
                                <h3>3、智慧財產權</h3>
                                <p>本網站所載述的功能變數名稱商標、文字、視像及聲音內容、圖形及圖像均受有關商標和著作權的法律保護。未經台灣奧美事先以書面明確允許，任何企業或個人不得以任何形式複製或傳遞。“奧美”、“Ogilvy”等均為台灣奧美的注冊商標，受台灣法律保護。</p>
                            </div><!--/.content-inner-->
                        </div><!--/.content-->
                    </div><!--/.row-main-->
                </div><!--/.page-body-->
            </section>
        </div><!--/[data-section]-->


    </div><!--/.mastbody-inner-->
</main><!--/.mastbody-->



<!--顶部导航开始-->
@include("/tssc/include/foot.html"){}
<!--顶部导航结束-->


<script src="${ctxPath}/static/reception/js/libs/jquery.js"></script>
<script src="${ctxPath}/static/reception/js/libs/plugins.js"></script>
<script src="${ctxPath}/static/reception/js/main.js"></script></body></html>
