<html class="header-pc lang-ch">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,requiresActiveX=true" />
    <title>关于我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="google" value="notranslate" />
    <meta http-equiv="cleartype" content="on" />

    <!-- Page info metas start-->
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="">
    <meta property="og:type" content="website">
    <meta property="article:publisher" content="">
    <meta property="article:author" content="">
    <!-- Page info metas end-->

    <link rel="shortcut icon" href="${ctxPath}/static/reception/img/logo.png"/>
    <!-- Initial header classname -->
    <script>!!(window.innerWidth <= 960) && (document.documentElement.className = document.documentElement.className.replace('header-pc', 'header-mb'));</script>
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/indexom.css" />
    <link rel="stylesheet" href="${ctxPath}/static/reception/css/main.css" />
    <!-- 全局css -->
    <link rel="shortcut icon" href="${ctxPath}/static/favicon.ico">
    <link href="${ctxPath}/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="${ctxPath}/static/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/plugins/validate/bootstrapValidator.min.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/animate.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="${ctxPath}/static/css/_fstyle.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/plugins/webuploader/webuploader.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/plugins/ztree/zTreeStyle.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/plugins/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet"/>
    <!-- 全局js -->
    <script src="${ctxPath}/static/js/jquery.min.js?v=2.1.4"></script>
    <script src="${ctxPath}/static/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="${ctxPath}/static/js/plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/validate/bootstrapValidator.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/validate/zh_CN.js"></script>
    <script src="${ctxPath}/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/jquery-treegrid/js/jquery.treegrid.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js"></script>
    <script src="${ctxPath}/static/js/plugins/jquery-treegrid/extension/jquery.treegrid.extension.js"></script>
    <script src="${ctxPath}/static/js/plugins/layer/layer.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/iCheck/icheck.min.js"></script>
    <script src="${ctxPath}/static/js/plugins/layer/laydate/laydate.js"></script>
    <script src="${ctxPath}/static/js/plugins/webuploader/webuploader.min.js"></script>
    <script src="${ctxPath}/static/js/common/ajax-object.js"></script>
    <script src="${ctxPath}/static/js/common/bootstrap-table-object.js"></script>
    <script src="${ctxPath}/static/js/common/tree-table-object.js"></script>
    <script src="${ctxPath}/static/js/common/web-upload-object.js"></script>
    <script src="${ctxPath}/static/js/common/ztree-object.js"></script>
    <script src="${ctxPath}/static/js/common/Feng.js"></script>


    <script type="text/javascript">
        Feng.addCtx("${ctxPath}");
        Feng.sessionTimeoutRegistry();
    </script>
</head>
<body ontouchstart="" style="background-color: #AAA">
<!--/.masthead-->
<main class="mastbody">
    <div class="mastbody-inner">
        <div class="effect-holder" data-effect="about"></div>
        <div data-section="about-group" class="section">
            <section data-mainpage="list" class="mainpage">
                <div class="page-body about-group">
                    <div class="row-main">
                        <input type="hidden" value="" id="company_id">
                        <div class="header" id="company_name">

                            <h1 class="maintitle">${company.name}</h1><a onclick="editName('company_name')">编辑</a>
                        </div>

                        <div class="content">
                            <div class="content-inner">
                                <div class="descr"  id="company_introduction">
                                    <p>${company.introduction}</p><a onclick="editIntroduction('company_introduction')">编辑</a>
                                </div>
                                <#button name="添加工作室" icon="fa-plus" clickFun="Studio.openAddStudio()"/>
                                <ul class="companylist" id="studio_list" style="margin-top: 18px;">
                                    <!--工作室列表-->
                                    @for(studio in studioList){
                                    <li style="margin-top: 5px;"><input type="hidden" value="${studio.id}">
                                        <button type="button" class="btn btn-info" style="height: 28px;margin-right: 5px;float: left;" onclick="delStudio(event);">删除</button>
                                        <button type="button" class="btn btn-info" style="height: 28px;margin-right: 5px;float: left;" onclick="Studio.openStudioDetail('${studio.id}');">编辑</button>
                                        <a data-ga-event="about-group-${studio.id}" href="#/about-group/${studio.id}">
                                            <img class="companylogo" src="${ctxPath}/studio/image/${studio.logo}" style="height: 35px;"/>
                                            ${studio.name}<i class="icn icn-inline icn-angle-right"></i></a></li>
                                    @}
                                </ul>
                            </div>
                            <!--/.content-inner-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.row-main-->
                </div>
                <!--/.page-body-->
            </section>
            <section data-mainpage="detail" class="mainpage" id="studio_section">
                @for(studio in studioList){
                <section data-subpage="${studio.id}" class="subpage">
                    <div class="page-body about-group-detail about-ad">
                        <div class="row-main">
                            <div class="header">
                                <h2 class="maintitle companytitle clr-red"><img class="companylogo" src="${ctxPath}/studio/image/${studio.logo}" />${studio.name}</h2>
                            </div>
                            <div class="content" data-scrollpane="" data-autosize="">
                                <div class="content-inner">
                                    <div class="descr htmledit">
                                        ${studio.synopsis}
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <a class="link-black ff-loud" data-ga-event="about-group-ad-inquiry" href="${ctxPath}/bespeak">服务洽谈<i class="icn icn-inline icn-angle-right"></i></a>
                            </div>
                            <a class="btn-close back" href="#/about-group" title="回前页"><i class="icn icn-close"></i></a>
                        </div>
                        <div class="row-side">
                            <div class="content" data-autosize="">
                                <div class="content-mask">
                                    <div class="content-outer">
                                        <div class="content-inner">
                                            <!-- 公司有上图时，注意class="pic" -->
                                            <img class="pic" data-centered="" src="${ctxPath}/studio/image/${studio.image}" />
                                            <!-- 公司沒有图时，注意class="effect" -->
                                            <!--<img class="effect" data-centered src="">-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                @}
                <!--工作室名称-->
                <div class="redstripe"></div>
            </section>
            <!--/.[data-mainpage="detail"]-->
        </div>
        <!--/[data-section]-->
    </div>
    <!--/.mastbody-inner-->
</main>

<div id="navDots" class="navdots">
    <div class="outer">
        <div class="inner">
            <a class="dot" href="${ctxPath}/studio"><b></b></a>
            <a class="dot" href="${ctxPath}/personnel"><b></b></a>
            <a class="dot" href="${ctxPath}/field"><b></b></a>
            <a class="dot" href="${ctxPath}/company/brand"><b></b></a>
            <a class="dot" href="${ctxPath}/company/history"><b></b></a>
            <a class="dot" href="${ctxPath}/company/social"><b></b></a>
        </div>
    </div>
</div>
<!--/.navdots-->
<script src="${ctxPath}/static/modular/tssc/studio/studio_info.js"></script>
<script src="${ctxPath}/static/modular/tssc/studio/studio.js"></script>
<script src="${ctxPath}/static/reception/jquery/jquery-3.3.1.min.js"></script>
<script src="${ctxPath}/static/reception/js/libs/plugins.js"></script>
<script src="${ctxPath}/static/reception/js/main.js"></script>
<script>
    /**
     * 删除工作室
     */
    function delStudio(event) {
        layer.confirm("确认删除？",function () {
            var btn = $(event.target);
            var input = btn.prev();
            var id = input.val();
            $.ajax({
                url: "${ctxPath}/studio/delete?id=" + id,
                type: "get",
                dateType:"json",
                success:function (result) {
                    result = result.data;
                    if(result == "ok"){
                        Feng.success("删除成功");
                        window.location.reload();
                    }
                },
                fail:function () {
                    Feng.error("删除失败！");
                }
            });
        });

    }

    /**
     *公司名称编辑
     */
    function editName() {
        $("#company_name h1").remove();
        $("#company_name a").remove();
        var input = "";
        input += '<div class="input-group">';
        input += '<input type="text" class="form-control"/>';
        input += '<span class="input-group-btn">';
        input += '<button type="button" class="btn btn-primary" onclick="updateName()">提交</button>';
        input += '</span>';
        input += '</div>';
        var $input = $(input);
        $("#company_name").append($input);
    }

    /**
     * 公司名称编辑提交
     */
    function updateName() {
        var id = $("#company_id").text();
        var name = $("#company_name input").val();
        $.ajax({
            url:"${ctxPath}/company/update",
            type:"post",
            data:{param:"name="+name+"&id="+id},
            dataType:"json",
            success :function (result) {
                result = result.data;
                var id = result.id;
                var name = result.name;
                $("#company_id").text(id);
                //删除输入框,改为h1
                $("#company_name .input-group").remove();
                var input = "";
                input += '<h1 class="maintitle">'+name+'</h1>';
                input += '<a onclick="editName()">编辑</a>';
                var $input = $(input);
                $("#company_name").append($input);
                Feng.alert("提交成功", 1);
            },
            fail:function () {
                $("#company_introduction p").text("山西腾盛时创文化传媒有限公司于2017年由宋艺所创立。");
            }
        });
    }

    /**
     * 公司简介提交
     */
    function updateIntroduction() {
        var id = $("#company_id").text();
        var introduction = $("#company_introduction textarea").val();
        $.ajax({
            url:"${ctxPath}/company/update",
            type:"post",
            data:{param:"introduction="+introduction+"&id="+id},
            dataType:"json",
            success :function (result) {
                result = result.data;
                var id = result.id;
                var introduction = result.introduction;
                $("#company_id").text(id);
                //删除输入框,改为h1
                $("#company_introduction .input-group").remove();
                var input = "";
                input += '<p>'+introduction+'</p>';
                input += '<a onclick="editIntroduction()">编辑</a>';
                var $input = $(input);
                $("#company_introduction").append($input);
                Feng.alert("提交成功", 1);
            },
            fail:function () {
                $("#company_name h1").text("腾盛时创");
            }
        });
    }

    /**
     * 公司简介编辑
     */
    function editIntroduction() {
        $("#company_introduction p").remove();
        $("#company_introduction a").remove();
        var input = "";
        input += '<div class="input-group">';
        input += '<textarea class="form-control" rows="3"></textarea>';
        input += '<span class="input-group-btn">';
        input += '<button type="button" class="btn btn-primary" onclick="updateIntroduction()">提交</button>';
        input += '</span>';
        input += '</div>';
        var $input = $(input);
        $("#company_introduction").append($input);
    }

</script>
</body>
</html>
